body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #E09777;
}

.logo {
    max-height: 50px;/*provvsorio*/
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul{
    display: flex;
    list-style: none;
    
    margin-left: auto;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;/*da togliere*/
    display: flex;
    align-items: center;
}

nav a i {
    margin-left: 5px;
}

#hero {
    text-align: center;
    padding: 100px 20px;
    background: url('./src/images/hero.jpg') no-repeat center center/cover;
    color: white;
    position: relative;
}

#hero button {
    background-color: #E07363;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.section-p1 {
    padding: 20px;
    text-align: center;
}

.pro-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pro {
    flex: 1 1 calc(33.333% - 20px);
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.pro img {
    width: 100%;
}

.des {
    padding: 10px;
}

.des span, .des h5, .des h4 {
    display: block;
}

.des .star i {
    color: #E0AA77;
}

footer {
    background-color: #E0C677;
    color: white;
    padding: 20px;
    text-align: center;
}