header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #E09777;
    flex-wrap: wrap;
}

.logo {
    max-height: 50px;
}

nav {
    display: flex;
    width: auto;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    padding: 0;
}

nav li {
    margin: 0 1%;
}

nav a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    height: 100%;
}

nav a i {
    margin-left: 5px;
}

nav ul li a.selected {
    font-weight: bold;
}

/* Breakpoint per schermi medi */
@media (max-width: 1024px) {
    header {
        padding: 10px 3%;
    }

    nav ul {
        margin-left: 0;
        justify-content: space-around;
    }

    nav li {
        margin: 0 2%;
    }
}

/* Breakpoint per schermi piccoli */
@media (max-width: 768px) {
    header {
        padding: 10px 2%;
    }

    .logo {
        max-height: 40px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    nav li {
        margin: 0 1.5%;
    }
}

/* Breakpoint per schermi molto piccoli */
@media (max-width: 480px) {
    header {
        padding: 10px 1%;
    }

    .logo {
        max-height: 30px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    nav li {
        margin: 0 1%;
    }
}