body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E0D0C1;
    color: #333; /* Testo principale */
}


#hero {
    text-align: center;
    padding: 100px 20px;
    background: url("../images/hero.jpg") no-repeat center center/cover;
    color: white;
    position: relative;
}

#hero button {
    background-color: #E09777;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

#hero button:hover{
	 background-color: #E07363; 
}

#prodotti h2{
	text-align:center
}