body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0D0C1;
    color: #333; /* Testo principale */
}

main {
    padding: 20px;
}

.login-container {
    background-color: #E0BA77;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
}

.login-container h3 {
    color: #E07363; /* Colore del titolo */
}

.login-container form {
    padding: 20px;
}

.login-container a {
    color: white;
}
.login-container a:hover {
    color: #E07363;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #E0AA77;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #E07363;
}

/* Stili per i messaggi di errore */
.error-messages {
    color: red;
    font-weight: bold;
}

.error-messages ul {
    list-style-type: none;
    padding: 0;
}